.sidebar{
    flex: 0.2;
    background-color: #0b0b51;
    color: white;
    height: 100vh;
    flex-shrink:0;
}
.sidebarIcon{
    padding: 20px ,30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sidebarTopContent{
    font-size: 24px;
}
.sidebarOptionsBlock{
    margin-top: 30px;
}
.sidebarOptions{
    padding: 20px;
    display: flex;
    gap: 10px;
 align-items: center;
    font-size: 22px;
    cursor: pointer;
    color: white;
    text-decoration: none
    ;
}
.selectedOption{
    background-color: rgb(72, 72, 222);
}